body {
    background-color: darkcyan;
}

.title {
    font-size: 20em;
    color: #10686e;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}